  @media screen and (min-width: 600px) {
    .card__image {
      height: 55vh;
    }

    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card:last-of-type {
      grid-column: 1/-1;
    }
  }

  