
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Kanit:wght@700&display=swap");

:root {
  /* PALETTE */
  --background-color: #E7E3D4;
  --primary-color: #1f172a;
  --secondary-color: #54768a;
  --accent-color: #f5f4ec;

  /* FONTS */
  --heading-font: "Kanit", sans-serif;
  --text-font: "Bitter", serif;
}

h1, h2 {
  color: white;
  font-family: var(--heading-font);
}

 h3 {
  color: var(--accent-color);
  font-family: var(--heading-font);
}
.banner {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 3.4rem;
  width: 100%;
  background-color: #6022d9;
  opacity: 0.8;
  margin: auto;
}

.banner-content {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.7rem;
}

.handshake {
  position: absolute;
  width: 1rem;
  padding: 0 5px;
  left: 0;
}


header {
  background: linear-gradient(to left, #1f172a, #45345c);
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
}

.headingContainer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.logoContainer {
  align-items: center;
  display: flex;
 
}

.logoContainer img {
  width: 40px;
  border-radius: 25px;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 1.5rem;
  margin: 0;
}

.headings h2 {
  font-size: 1.2rem;
  margin: 0;
}

.menuContainer {
  align-items: center;
  display: flex;
}

#primaryNav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  /* text-decoration: none; */
  list-style-type: none;
  margin: 0;
  padding: 2em;
  position: fixed;
  right: 0;
}

/* #primaryNav li:first-child {
	display: block;
} */
#primaryNav li {
  margin: 1em 0.5em;
  text-transform: uppercase;
  transition: all 0.3s linear;
}



#primaryNav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(237, 229, 229);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

#primaryNav a:hover  {
	color: rgb(198, 235, 112);
	background-color: rgba(57, 177, 251, 0.669);
}

.social {
  align-items: center;
  display: flex;
  margin: 0 1em;
}

.social img {
  width: 35px;
  border-radius: 35px;
  
}

.social a:hover {
  border-bottom: none;
}

#currentDate {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding: 0.8em;
}

#primaryNav {
  display: none;
}

#primaryNav.open {
  display: block;
  position: absolute;
}

#hamburgerBtn {
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 1.5rem;
  padding: 0.5em;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

body {
  font-family: var(--text-font);
  position: relative;
}

p,
li {
  color: var(--accent-color);
  font-family: var(--text-font);
  line-height: 1.4;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* a:hover,
a:active {
  border-bottom: 5px double;
} */

.home2-grid {
  background-color: var(--background-color);
  display: grid;
  gap: 1em;
  padding: 2em;
}

main.home2-grid div {
  background-color: var(--primary-color);
}




.hero{
  height: 200px;
  border: 1px solid#555;
  text-align: center;
}

.hero img{
  width: 100%;
  height: 100%;
}
.welcome{
  margin-top: -130px;
  font-size: 1.5rem;
  padding-left: 15px;
  color: #d26628;
   
}

.button-box {
  position: absolute;
  text-align: center;
  top: 360px;
	right: 40px;

}
.joina {
  background-color: #91ba20;
  text-decoration: none;
  color: #252c13;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.joina:hover {
background-color: #955f7a;
color: #12120ab8;
}

.join1 {
    background-color: #91ba20;
    text-decoration: none;
    color: #252c13;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.join1:hover {
  background-color: #955f7a;
  color: #12120ab8;
}
.join p{
  position: relative;
  text-align: center;
  bottom: -50px;
}
.button-box2 {
  position: relative;
  text-align: center;
  top: 40px;
 
}
.news{
  text-align: center;
  height: 250px;
  border: 1px solid#555;
}

.spotlightContainer{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  

}
div.spotlight1{
  height: 200px;
  text-align: center;
  border: 1px solid rgb(22, 21, 21);

}

div.spotlight2{
  height: 200px;
  text-align: center;
  border: 1px solid rgb(22, 21, 21);

}
div.spotlight3{
  display: none;
  text-align: center;

}
.join{
  height: 200px;
  border: 1px solid#555;
}  

.event{
  height: 200px;
  border: 1px solid#555;
  text-align: center;
  
}

.weather h2, .weather p {
  text-align: center;
  margin: 2px;
}


.weather h1, .weather h3 {
  text-align: center;
  margin: 2px;
}

#wind {
  border-top-style: solid ;
  text-align: center;
}

#wspeed, #wchill {
  margin-left: 30px;
}


 .weather{
  margin: auto;
  width: 80%;
  height: 200px;
  text-align: center;
  border: 1px solid#555;
}

.weather img {
  max-width: 50px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 0.5em;
  text-align: center;
}

.footerContent1Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footerContent div {
  display: flex;
  flex-direction: column;
}

.footerContent h3 {
  text-align: center;
  padding-left: 15px;
}

.footerContent p {
  margin: 0;
  text-align: center;
  padding-left: 15px;
}

.footerContent img {
  width: 80px;
  border-radius: 25px;
 
}

.footerContent2Container {
  border-top: 1px solid var(--secondary-color);
  margin-top: 1em;
}

#date {
  border: none;
}

.herodiscover {
  padding: 0; 
  text-align: justify;
}
.bannerdiscover {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
}
.event2{
  text-align: justify;
}
.herodiscover, .event2, .mygallery{
  border: 1px solid#555;
  padding: 10px;
}


img[data-src] {
    filter: blur(3px);
}

.localstorage {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background-color: #18c6f1;
    border-radius: 5px;
    border: black;
}

.localstorage:hover{
    background-color: #ff7d00;
}

.mygallery {
    margin: 0 auto;
    grid-auto-rows: 200px;
    justify-content: center;
    grid-row-gap: 40px;
    padding: 10px;
    margin-bottom: auto;
}

.mygallery figcaption {
    background-color: #FFECD1;
    /* border: thin silver solid; */
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
   }

 .mygallery img {
    filter: blur(0px);
    /* transition: filter 0.6s; */
    max-width:100%; 
}

figure {
margin: auto;
padding: 4px;
}
.shadow{
  width:100%;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}


.lazyloading h2{
  text-align: center;
  padding: 10px;
  border: 1px solid#555;
  margin: 0;
}

.header-title {
  color: #18c6f1;
}
/*------- Thankyou --------=== */
.thankyou{
  background-color: #7973bdcc;
  text-align: center;
  padding: 30px;
  }
  .thankyou p{
    font-size: 1.5rem;
   
  }

/* ---------  Join Form ---------  */
form fieldset {
  margin: 5px;
  border: 2px dashed rgba(0, 0, 0, 0.20);
  padding: 15px;
  border-radius: 15px;
  max-width: 40rem;
}

form legend{
  color: rgba(0, 0, 0, 0.80);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1rem;
}

form label.contact, form label.company, form div {
  display: block;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.80);
  font-size: .9rem;
  text-align: left;
}

form label.contact input, form label.contact select, form label.company input, form label.company select{
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 3px;
  padding: .75rem;
  color: rgba(0, 0, 0, 0.80);
  width: 87%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.223);

}



form input.submitBtn {
  font-size: 1em;
  border: none;
  background-color:  #23dd47ab;
  color: black;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  margin: 2%;
  width: 96%;
  max-width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.60)
}

form label.contact input:required, form label.company input:required { /*left bar on required input forms - requirements not met*/
border-left: rgba(203, 66, 66, 0.481) solid 6px;
}

form label.contact input:required:valid, form label.company input:required:valid { /*left bar on required input forms - requirements met*/
  border-left: rgb(0, 0, 0, .3) solid 6px;
}

form label.memberLevel {
  display: block;
  text-align: left;
  padding: 1rem 0;
  color: #555;
  font-size: 1rem;

}

input[type='radio'] {
  transform: scale(1.5);
  accent-color: #ffd000;
  }

section.testimonials {
  display: none;
}    

  /* ---------  Membership Table ---------  */
th, td {
  border: 1px solid black;
  padding: 10px 3px 10px 3px;
  font-size: 1em;   
}
th {
  background-color: #fee573;
}

table {
  width: 100%;
  background-color:rgba(255, 234, 7, 0.1);
  border-collapse: collapse;

}
tbody tr:nth-child(odd) {
background-color: rgba(255, 234, 7, 0.1) ;
}
table td:nth-child(1) {
  text-align: left;
  padding: 10px;
  width: 30px;
}

table th:nth-child(2), table th:nth-child(3), table th:nth-child(4), table th:nth-child(5) {
 max-width: 10px;

}
section.thankyou {
grid-column: 1/7;
background-color: #fee57370;
}

/* css for directory page */

div.directory-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main #card-button, main #list-button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

main #card-button:hover, main #list-button:hover {
  box-shadow: 0 0 10px black;
  background-color: #BEC5AD;
  cursor: pointer;
}

div#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

div#cards section{
  border: 1px solid #34252F;
  background-color: #BEC5AD;
  padding: 0.5rem;
  margin: 0.5rem;
  width: auto;
  text-align: center;
  box-shadow: 5px 5px 8px black;
}

div#cards section img, 
div#cards section p, div#cards section a {
  padding: 0.5rem;
}

div#cards section p {
  color: black;
  font-weight: bold;
}

div#cards section img {
  width: 100%;
  max-width: 120px;
}

div#cards section a {
  overflow-wrap: break-word;
  font-weight: bold;
}

div#list section {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: auto;
}

div#list section p, div#list section a {
  padding: 0.5rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

div#list section:nth-child(odd) {
  background-color: #BEC5AD;
}

#cards.hidden, #list.hidden {
  display: none;
}
/* End of css for discovery page  */