@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

h2 {
    margin: 0;
}
#box {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    width: 60%;
    margin-top: 5px;
    background-color: #4f7fe689;
    box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
    border-radius: 25px;
}

footer {
    background-color: #4f7fe689;
    width: 60%;
    height: 60px;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
     
}

.box-title {
    width: 60%;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}



#box-img {
    border-radius: 20px;
}
#box h1 {
    text-align: left;
    margin-top: 50px;
    color: #54a64be7;
    font-size: 30px;
}


hr.top {
    border: 1px solid black;
    width: 60%;
    margin-left: 0;
}
hr.bottom {
    border: 1px solid black;
    width: 60%;
    margin-left: 0;
}
.bold-text{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    width: 70%;
    text-shadow: 0px 0px 8px;
}

